.App{
  height: 100vh
}

.page{
  height: 100%;
  width: 100%;
}

#LoginEBC{
  width: 24vh;
  height: 4vh;
  background-color: transparent;
  position: absolute;
  top: 70%;
  left: 10%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
#LoginEBC_disabled{
  pointer-events: none;
  visibility: hidden;
}

#LoginInsurer{
  width: 24vh;
  height: 4vh;
  background-color: transparent;
  position: absolute;
  top: 70%;
  left: 23%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
#LoginInsurer_disabled{
  pointer-events: none;
  visibility: hidden;
}

#SubmitNewRFQ{
  width: 70vh;
  height: 15vh;
  background-color: transparent;
  position: absolute;
  top: 64%;
  left: 23%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
#SubmitNewRFQ_disabled{
  pointer-events: none;
  visibility: hidden;
}

#EBCLogout{
  width: 10vh;
  height: 5.5vh;
  background-color: transparent;
  position: absolute;
  top: 0%;
  left: 95%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
#EBCLogout_disabled{
  pointer-events: none;
  visibility: hidden;
}

#Submit{
  width: 23.5vh;
  height: 6vh;
  background-color: transparent;
  position: absolute;
  top: 86.5%;
  left: 35.5%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
#Submit_disabled{
  pointer-events: none;
  visibility: hidden;
}
#backSubmit{
  width: 14vh;
  height: 5.5vh;
  background-color: transparent;
  position: absolute;
  top: 0%;
  left: 81%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
#backSubmit_disabled{
  pointer-events: none;
  visibility: hidden;
}

#Home{
  width: 12vh;
  height: 5.5vh;
  background-color: transparent;
  position: absolute;
  top: 0%;
  left: 82%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
#Home_disabled{
  pointer-events: none;
  visibility: hidden;
}

#ProjectA{
  width: 8vh;
  height: 4.5vh;
  background-color: transparent;
  position: absolute;
  top: 32.5%;
  left: 8.8%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
#ProjectA_disabled{
  pointer-events: none;
  visibility: hidden;
}
#ProjectC{
  width: 8vh;
  height: 4.5vh;
  background-color: transparent;
  position: absolute;
  top: 41.5%;
  left: 8.8%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
#ProjectC_disabled{
  pointer-events: none;
  visibility: hidden;
}
#InsurerLogout{
  width: 10vh;
  height: 5.5vh;
  background-color: transparent;
  position: absolute;
  top: 0%;
  left: 95%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
#InsurerLogout_disabled{
  pointer-events: none;
  visibility: hidden;
}
#backProjectA{
  width: 14vh;
  height: 5.5vh;
  background-color: transparent;
  position: absolute;
  top: 0%;
  left: 77%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
#backProjectA_disabled{
  pointer-events: none;
  visibility: hidden;
}

#backProjectC{
  width: 14vh;
  height: 5.5vh;
  background-color: transparent;
  position: absolute;
  top: 0%;
  left: 77%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
#backProjectC_disabled{
  pointer-events: none;
  visibility: hidden;
}